<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <a class="navbar-brand" routerLink="/">fwticket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }"
             routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active" routerLink="/cart">Carrito ({{ getCartCount() }})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             *ngIf="!isLoggedIn()"
             routerLinkActive="active"
             routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             *ngIf="isLoggedIn()"
             routerLink="/profile"
             routerLinkActive="active">Mi Cuenta</a>
        <li class="nav-item">
          <a class="nav-link"
             *ngIf="isLoggedIn()"
             routerLinkActive="active"
             (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="navbar-light bg-light p-3">
    <div class="row">
      <div class="col-md-4">
        <h6><strong>fwticket</strong></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt doloremque earum labore laborum
          nam natus necessitatibus </p>
      </div>
      <div class="col-md-4">
        <h6><strong>Enlaces</strong></h6>
        <ul class="list-unstyled">
          <li>Inicio</li>
          <li>Eventos</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6><strong>Contáctanos</strong></h6>
        <address>
          <p>Av. Constituyentes #123 <br> Col. Centro C.P. 76000 <br> Teléfono: 442 123 5423</p>
        </address>
      </div>
    </div>
  </footer>
</div>
