<div class="py-4">
  <img src="https://via.placeholder.com/1200x180" class="img-fluid rounded" alt="">
  <div class="row">
    <div class="col-md-6">
      <h3 class="my-3" style="color: lightseagreen">{{ event.title }}</h3>
      <p><strong>Información del evento</strong></p>
      <p>{{ event.description }}</p>

      <ul class="list-unstyled">
        <li><strong>Lugar del evento:</strong> {{ event.venueId.name }}</li>
        <li><strong>Fecha:</strong> {{ event.date | date: 'dd/MM/yyyy' }}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ng-template #sinboletos>
        <h3 class="text-center py-3">No hay boletos para este evento</h3>
      </ng-template>

      <div *ngIf="eventTickets.length; else sinboletos">
        <h3 class="my-3" style="color: steelblue">Boletos disponibles</h3>
        <table
          class="table table-sm table-hover table-bordered text-center">
          <tr>
            <td><strong>Sección</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Comprar</strong></td>
          </tr>
          <tr *ngFor="let ticket of eventTickets">
            <td>{{ ticket.ticketTypeId.name }}</td>
            <td>{{ ticket.price | currency }}</td>
            <td>
              <button
                (click)="add2cart(ticket._links.self.href, ticket.price, event.title, ticket.ticketTypeId.name)"
                class="btn btn-success btn-sm">Comprar
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
