<div class="py-4 d-flex flex-column">

  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body p-4">

          <form [formGroup]="form" #f="ngForm" (ngSubmit)="signIn(f.value)">
            <div class="text-center">
              <h4 class="py-3 text-primary">Login</h4>
            </div>
            <div class="form-group col-md-8 mx-auto">
              <label>Usuario</label>
              <input type="text" formControlName="username" class="form-control">
              <p *ngIf="username.touched && username.errors" class="text-danger">El campo usuario es requerido</p>
            </div>
            <div class="form-group col-md-8 mx-auto">
              <label>Contraseña</label>
              <input type="password" formControlName="password" class="form-control">
              <p *ngIf="password.touched && password.errors" class="text-danger">El campo contraseña es requerido</p>
            </div>
            <div class="form-group col-md-10 mx-auto text-center">
              <button class="btn btn-success">Iniciar sesión</button>
              <p class="py-3">¿No tienes una cuenta aún?, regístrate aquí.</p>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
